.sign {
  padding: 56px 30px 30px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign__container {
  max-width: 396px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 557px;
}

.sign__site-logo {
  width: 38px;
  height: 38px;
}

.sign__page-title {
  margin-top: 40px;
  text-align: left;
}

.sign__form {
  margin-top: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form__label {
  margin-top: 20px;
  color: #A0A0A0;
  font-family: Inter, Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__label:first-child {
  margin-top: 0;
}

.form__field {
  margin-top: 10px;
  border: none;
  padding: 15px;
  border-radius: 8px;
  background: #F9F9F9;
  width: 100%;
  box-sizing: border-box;
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__err-text {
  margin-top: 10px;
  margin-bottom: 0;
  color: #EE3465;
  font-family: Inter, Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* visibility: hidden; */
}

.form__submit {
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding-top: 13px;
  padding-bottom: 15px;
  border-radius: 3px;
  background: #FF6838;
  color: #FFF;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form__proffer {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 16px;
  color: #A0A0A0;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bottom-link {
  color: #FF6838;
  text-decoration: none;
  margin-top: 16px;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 580px) {
  .sign {
    align-items: unset;
  }

  .sign__container {
    height: unset;
  }

  .sign__site-logo {
    margin-left: auto;
    margin-right: auto;
  }

  .sign__page-title {
    text-align: center;
    margin-top: 50px;
  }

  .sign__form {
    margin-top: 80px;
  }

  .form__proffer {
    font-size: 12px;
  }

  .bottom-link  {
    font-size: 12px;
  }
}