.header {
  background-color: #465dff;
  padding: 18px 70px;
  height: 74px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_light {
  background-color: #fff;
}

.header__container {
  width: 100%;
  max-width: 1140px;
  display: flex;
  align-items: center;
}

.header__link {
  transition: opacity .2s ease-out;
}

.header__link:hover {
  opacity: 0.6;
}

.header__menu {
  margin-left: 45px;
}

.site-logo {
  display: block;
}


.header__profile {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__profile-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__profile-link {
  color: #FFF;
  text-decoration: none;
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  transition: opacity .2s ease-out;
}

.header__profile-link_dark {
  color: #000;
}

.header__profile-link:hover {
  opacity: 0.6;
}

.header__profile-link_button {
  padding: 8px 20px;
  border-radius: 3px;
  background-color: #2BE080;
  color: #000;
}


@media (max-width:870px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header__menu {
    margin-left: 0;
  }

  
}


@media (max-width:580px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }

  .header__profile-list {
    gap: 14px;
  }

  .header__profile-link {
    font-size: 10px;
  }

  .header__profile-link_button {
    padding: 5px 12px;
  }
}