.portfolio {
  padding: 51px 70px 107px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.portfolio__container {
  width: 100%;
  max-width: 1140px;
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #A0A0A0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.11; /* 111.111% */
}


@media (max-width:870px) {
  .portfolio {
    padding: 50px 50px 93px;
  }
}

@media (max-width:580px) {

  .portfolio {
    padding: 0 14px 52px;
  }

  .portfolio__title {
    font-size: 14px;
  }
}