
.cards__item {
  background: #FDFDFD;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards__panel {
  padding: 14px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.cards__info {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.cards__name {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cards__length {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: auto;
  color: #A0A0A0;
  font-family: Inter, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cards__save {
  border: none;
  background-color: #F9F9F9;
  background-image: url(../../../images/icons/flag-off.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  cursor: pointer;
  transition: background-color .2s ease-out;
}

.cards__save:hover {
  background-color: #eeeeee;
}

.cards__preview-link {
  transition: opacity .2s ease-out;
  cursor: pointer;
}

.cards__preview-link:hover {
  opacity: 0.85;
}

.cards__preview {
  width: 100%;
  height: 203px;
  display: block;
  object-fit: cover;
  object-position: center;
}
