.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  width: 100%;
  list-style: none;
  display: flex;
  gap: 16px;
}
.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .2s ease-out;
}

.menu__item:hover {
  opacity: 0.6;
}

.menu__item:last-child {
  margin-left: auto;
}

.menu__link {
  text-decoration: none;
  display: flex;
  color: #000;
  text-align: right;
  font-family: Inter, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}



.menu__link-profile {
  text-decoration: none;
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  display: flex;
  align-items: center;
  gap: 17px;
}

.menu__link-profile::after {
  content: '';
  display: inline-block;
  width: 26px;
  height: 30px;
  border-radius: 4px;
  background-color: #F9F9F9;
  background-image: url(../../../images/icons/profile.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.menu__link_bg-dark, 
.menu__link-profile_bg-dark {
  color: #fff;
}

.menu__link-profile_bg-dark::after {
  background-color: #2BE080;;
}

@media (max-width:870px) {
  .menu {
    display: none;
    justify-content: end;
    align-items: center;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  .header__menu-overlay {
  }

  .menu_open {
    display: flex;
  }

  .menu__list {
    max-width: 520px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 159px 30px 92px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  .menu__item:last-child {
    margin-left: unset;
    margin-top: auto;
  }

  .menu__link {
    font-size: 18px;
    text-align: center;
    color: #000;
  }

  .menu__link-profile_bg-dark {
    color: #000;
  }

  .menu__link-profile_bg-dark::after {
    background-color: #F9F9F9;;
  }
}


@media (max-width:580px) {
  
  .menu__list {
    padding: 144px 10px 48px;
    gap: 24px;
  }
}