.portfolio__link-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-top: 31px;
  list-style: none;
}

.portfolio__link-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__link::after {
  content: '↗';
}

.portfolio__link {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; /* 166.667% */
  letter-spacing: -1.2px;
}


@media (max-width:870px) {
  .portfolio__link {
    font-size: 28px;
  }

  .portfolio__link-item {
    padding-top: 23px;
    padding-bottom: 21px;
  }

  .portfolio__link-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media (max-width:580px) {
  .portfolio__link-list {
    margin-top: 24px;
  }

  .portfolio__link-item {
    padding-top: 21px;
    padding-bottom: 17px;
  }

  .portfolio__link {
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}