.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 74px 30px 70px;
  height: calc(100vh - 80px);
  box-sizing: border-box;
}

.page-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__form {
  margin-top: 123px;
  max-width: 410px;
  width: 100%;
}

.profile__form-label {
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.profile__form-label:first-child {
  padding-bottom: 17px;
}

.profile__form-label:not(:first-child) {
  padding-top: 17px;
  border-top: 1px solid #E8E8E8;
}


.profile__form-field {
  border: none;
  padding: 0;
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
}

.profile__form-control {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.profile__form-btn {
  border: none;
  background: none;
  padding: 0;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity .2s ease-out;
}


.profile__form-btn:hover {
  opacity: 0.6;
}

.profile__form-btn_danger {
  color: #EE3465;
  font-weight: 500;
}

@media (max-width: 870px) {
  .profile__form {
    margin-top: 96px;
  }

  .profile__form-control {
    margin-top: 210px;
  }
}

@media (max-width: 580px) {
  .profile {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .profile__form {
    margin-top: 80px;
  }

  .profile__form-control {
    margin-top: 379px;
  }
}