

.search {
  padding: 70px 70px 47px;
  display: flex;
  justify-content: center;
}

.search__container {
  max-width: 1140px;
  width: 100%;
}

.search__form {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.search__input-label {
  background: url('../src/images/icons/search.svg');
  border: 1px solid #E8E8E8;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  cursor: pointer;
  margin-left: 6px;
}

.search__input {
  padding: 0;
  border: none;
  flex-grow: 1;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search__input::placeholder {
  color: #A0A0A0;
}

.search__submit {
  border: none;
  background-color: #FF6838;
  background-image: url('../src/images/icons/arrow-right.svg');
  border-radius: 50%;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.search__control {
  margin-top: 29px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.search__checkbox {
  margin: 0;
  width: 0;
  width: 36px;
  height: 20px;
  visibility: hidden;
}

.search__checkbox:before {
  content: "";
  background-image: url('../src/images/icons/checkbox-unchecked.svg');
  width: 36px;
  height: 20px;
  display: inline-block;
  visibility: visible;
  cursor: pointer;
}

.search__checkbox:checked:before {
  content: "";
  background-image: url('../src/images/icons/checkbox-checked.svg');
  width: 36px;
  height: 20px;
  display: inline-block;
}

.search__checkbox-label {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
}

.cards {
  padding: 70px 70px 0;
  display: flex;
  justify-content: center;
}

.cards__container {
  max-width: 1140px;
  width: 100%;
}

.cards__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 24px;

}

.cards__item {
  background: #FDFDFD;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08); 
}

.cards__panel {
  padding: 14px;
  display: flex;
  justify-content: space-between;
}

.cards__name {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cards__length {
  margin-top: 9px;
  color: #A0A0A0;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cards__save {
  border: none;
  background-color: #F9F9F9;
  background-image: url(../src/images/icons/flag-off.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  cursor: pointer;
}

.cards__preview {
  width: 100%;
  display: block;
}

.more {
  padding: 80px 70px;
  display: flex;
  justify-content: center;
}

.more__container {
  max-width: 1140px;
  width: 100%;
}

.more__load {
  border: none;
  background-color: #F9F9F9;
  border-radius: 6px;
  width: 100%;
  padding: 10px 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.header_light {
  background-color: #fff;
}


@media (max-width: 870px) {
  .search {
    padding: 86px 30px 62px;
  }

  .cards {
    padding-left: 30px;
    padding-right: 30px;
  }

  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 36px;
  }

  .more {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 580px) {
  .search {
    padding: 92px 14px 50px;
  }

  .search__form {
    padding-bottom: 9px;
  }

  .search__input-label {
    display: none;
  }

  .search__input {
    text-align: left;
    font-size: 18px;
  }

  .search__control {
    margin-top: 42px;
    gap: 13px;
  }

  .search__checkbox-label {
    font-size: 11px;
    line-height: 1.64; /* 163.636% */
  }

  .cards {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .cards__list {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  .more {
    padding-left: 10px;
    padding-right: 10px;
  }
}