.finder {
  padding: 70px 70px 49px;
}

.finder__form {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.finder__input-label {
  background: url('../src/images/icons/search.svg');
  border: 1px solid #E8E8E8;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.finder__input {
  border: none;
  flex-grow: 1;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.finder__submit {
  border: none;
  background-color: #FF6838;
  background-image: url('../src/images/icons/arrow-right.svg');
  border-radius: 50%;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.finder__control {
  margin-top: 29px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.finder__checkbox {
  margin: 0;
  width: 0;
  width: 36px;
  height: 20px;
  visibility: hidden;
}

.finder__checkbox:before {
  content: "";
  background-image: url('../src/images/icons/checkbox-unchecked.svg');
  width: 36px;
  height: 20px;
  display: inline-block;
  visibility: visible;
  cursor: pointer;
}

.finder__checkbox:checked:before {
  content: "";
  background-image: url('../src/images/icons/checkbox-checked.svg');
  width: 36px;
  height: 20px;
  display: inline-block;
}

.finder__checkbox-label {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
}

.film-gallery {
  padding: 70px 70px 0;
  
}

.film-gallery__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 24px;

}

.film-gallery__item {
  background: #FDFDFD;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08); 
}

.film-gallery__panel {
  padding: 14px;
  display: flex;
  justify-content: space-between;
}

.film-gallery__name {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.film-gallery__length {
  margin-top: 9px;
  color: #A0A0A0;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.film-gallery__save {
  border: none;
  background-color: #F9F9F9;
  background-image: url(../src/images/icons/flag-off.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  cursor: pointer;
}

.film-gallery__preview {
  width: 100%;
  display: block;
}

.film-gallery__control {
  padding-top: 80px;
  padding-bottom: 80px;
}

.film-gallery__load {
  border: none;
  background-color: #F9F9F9;
  border-radius: 6px;
  width: 100%;
  padding: 10px 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.header_light {
  background-color: #fff;
}

.menu__link_bg-light {
  color: #000;
}

.header__profile-link_bg-light {
  color: #000;
}