.body {
  margin: 0;
}

.page {
}

.header {
  background-color: #465dff;
  padding: 18px 70px;
  display: flex;
  justify-content: space-;
  align-items: center;
}

.header__menu {
  margin-left: 45px;
}

.menu__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style: none;
  display: flex;
  gap: 16px;
}

.menu__item {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

.menu__link {
  color: #fff;
  text-decoration: none;
}

.header__profile {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__profile-link {
  color: #FFF;
  text-decoration: none;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
}

.header__profile-link_button {
  padding: 8px 20px;
  border-radius: 3px;
  background-color: #2BE080;
  color: #000;
}

.hero {
  padding: 75px 70px;
  background-color: #465dff;
  display: flex;
  justify-content: space-between;
  min-height: 425px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
  font-family: Inter, Arial, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  max-width: 640px;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 36px;
  color: #FFF;
  opacity: 0.5;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 310px;
}

.hero__button {
  color: #FFF;
  text-decoration: none;
  margin-top: auto;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}

.hero__image {
  max-height: 310px;
  max-width: 304px;
}

.about {
  padding: 110px 70px;
  min-height: 608px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.section__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.section__line {
  margin-top: 23px;
  border-bottom: 1px solid #000;
  width: 100%;
}

.about__table {
  margin-top: 70px;
  margin-bottom: 50px;
  display: flex;
  gap: 40px;
}

.about__column {
  width: 100%;
}

.about__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 26px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.43;
}

.about__chart {
  margin-top: auto;
}

.chart {
  display: flex;
  width: 100%;
}

.chart__step {
  width: 100%;
}

.chart__step_done {
  width: 228px;
}

.chart__period {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chart__period_done {
  background: #2be080;
}

.chart__descr {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 14px;
  display: flex;
  justify-content: center;
  color: #A0A0A0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.21
  ;
}

.tech {
  padding: 100px 70px;
  display: flex;
  flex-direction: column;
  min-height: 625px;
  box-sizing: border-box;
  background: #F5F5F5;
}

.tech__title {
  margin: 90px auto 0;
  max-width: 600px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
}

.tech__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  margin: 26px auto 50px;
  max-width: 460px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.43; /* 142.857% */
  letter-spacing: -0.56px;
}

.tech__word-cloud {
  margin-top: auto;
}

.word-cloud {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.word-cloud__item {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background: #E8E8E8;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

.student {
  padding: 110px 70px 50px;

}

.student__content {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.student__info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.student__name {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16; /* 116% */
  letter-spacing: -2px;
}

.student__descr {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 18px;
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11; /* 111.111% */
}

.student__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 26px;
  margin-bottom: 15px;
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.57; /* 157.143% */
}
.student__link {
  text-decoration: none;
  color: #000;
  margin-top: auto;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.student__photo {
  aspect-ratio: 1/1.21;
  max-width: 270px;
  max-height: 327px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

