

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.section-line {
  margin-top: 23px;
  border-bottom: 1px solid #000;
  width: 100%;
}





@media (max-width:580px) {


  .section-title {
    font-size: 18px;
  }

  .section-line {
    margin-top: 28px;
  }

  
}
