.section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.section-line {
  margin-top: 23px;
  border-bottom: 1px solid #000;
  width: 100%;
}

.student {
  padding: 110px 70px 50px;
  display: flex;
  justify-content: center;
}

.student__container {
  width: 100%;
  max-width: 1140px;
}

.student__content {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.student__info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.student__name {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16; /* 116% */
  letter-spacing: -2px;
}

.student__descr {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 18px;
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11; /* 111.111% */
}

.student__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 26px;
  margin-bottom: 40px;
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.57; /* 157.143% */
}
.student__link {
  text-decoration: none;
  color: #000;
  margin-top: auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.student__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

@media (max-width:870px) {
  .student {
    padding: 90px 50px 40px;
  }

  .student__content {
    margin-top: 63px;
    gap: 40px;
  }

  .student__info {
    max-width: 363px;
  }

  .student__name {
    font-size: 40px;
  }

  .student__descr {
    margin-top: 12px;
    font-size: 12px;
    line-height: 1.5;
  }

  .student__text {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.5;
  }

  .student__photo {
    width: 255px;
    height: 307px;
  }

}

@media (max-width:580px) {
  .section-title {
    font-size: 18px;
  }

  .section-line {
    margin-top: 28px;
  }

  .student {
    padding: 70px 14px;
  }

  .student__photo {
    width: 292px;
    height: 352px;
  }

  .student__content {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 60px;
  }

  .student__name {
    font-size: 30px;
    letter-spacing: -1.2px;
  }

  .student__descr {
    margin-top: 20px;
    font-size: 11px;
  }

  .student__text {
    font-size: 11px;
    line-height: 1.45;
  }

}