.cards {
  padding: 70px 70px 0;
  display: flex;
  justify-content: center;
}

.cards__container {
  max-width: 1140px;
  width: 100%;
}

.cards__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 24px;
}

@media (max-width: 870px) {
  .cards {
    padding-left: 30px;
    padding-right: 30px;
  }

  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media (max-width: 580px) {
  .cards {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .cards__list {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
}